/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS ======= */
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
@font-face {
  font-family: 'DigitalFrontiersmanV2';
  src: url("../fonts/DigitalFrontiersmanV2.eot");
  src: url("../fonts/DigitalFrontiersmanV2.eot?#iefix") format("embedded-opentype"), url("../fonts/DigitalFrontiersmanV2.ttf") format("truetype"), url("../fonts/DigitalFrontiersmanV2.woff") format("woff"), url("../fonts/DigitalFrontiersmanV2.svg#DigitalFrontiersmanV2") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*="icon-"] {
  font-family: 'DigitalFrontiersmanV2';
  speak: none;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-vimeo:before {
  content: "\56"; }

.icon-twitter:before {
  content: "\54"; }

.icon-instagram:before {
  content: "\49"; }

.icon-tumblr:before {
  content: "\74"; }

.icon-github:before {
  content: "\47"; }

.icon-arrow-right:before {
  content: "\52"; }

.icon-arrow-up:before {
  content: "\55"; }

.icon-arrow-down:before {
  content: "\44"; }

.icon-arrow-left:before {
  content: "\4c"; }

.icon-search:before {
  content: "\73"; }

.icon-arrow-right-small:before {
  content: "\72"; }

.icon-arrow-up-small:before {
  content: "\75"; }

.icon-arrow-down-small:before {
  content: "\64"; }

.icon-arrow-left-small:before {
  content: "\6c"; }

.icon-plus:before {
  content: "\2b"; }

.icon-minus:before {
  content: "\2d"; }

.icon-checkmark:before {
  content: "\221a"; }

.icon-share:before {
  content: "\53"; }

.icon-mail:before {
  content: "\6d"; }

.icon-paperplane:before {
  content: "\e613"; }

.icon-book:before {
  content: "\62"; }

.icon-pencil:before {
  content: "\70"; }

.icon-cross:before {
  content: "\58"; }

.icon-resize-enlarge:before {
  content: "\2265"; }

.icon-resize-shrink:before {
  content: "\2264"; }

.icon-play:before {
  content: "\2206"; }

.icon-rss:before {
  content: "\66"; }

.icon-DigitalFrontiersman:before {
  content: "\25ca"; }

body {
  font-family: 'Gotham-HTF',helvetica,arial,sans-serif;
  font-size: .8em; }
  @media screen and (min-width: 32em) {
    body {
      font-size: 1em; } }

/* Modular Scale 
---------------------- 
15px @ 1:1.5	 
30px @ 1:1.5	 
----------------------*/
h1 {
  font-size: 3.0000em;
  /* 45px */
  line-height: 1.1111em;
  /* 50px */
  margin-top: 0.5556em;
  margin-bottom: 0.0000em; }

h2 {
  font-size: 2.2500em;
  /* 33.75px */
  line-height: 1.4815em;
  /* 50px */
  margin-top: 0.7407em;
  margin-bottom: 0.0000em; }

h3 {
  font-size: 2.0000em;
  /* 30px */
  line-height: 1.6667em;
  /* 50px */
  margin-top: 0.8333em;
  margin-bottom: 0.0000em; }

h4 {
  font-size: 1.6667em;
  /* 25px */
  line-height: 1.0000em;
  /* 25px */
  margin-top: 1.0000em;
  margin-bottom: 0.0000em; }

h5 {
  font-size: 1.5000em;
  /* 22.5px */
  line-height: 1.1111em;
  /* 25px */
  margin-top: 1.1111em;
  margin-bottom: 0.0000em; }

h6 {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 0.0000em; }

p {
  font-size: 1em;
  /* 15px */
  line-height: 1.6667em;
  /* 25px */
  margin: 0 0 1.6667em 0; }

small, ul, ol {
  font-size: 0.8889em;
  /* 13.333px */
  line-height: 1.8750em;
  /* 25px */
  margin-top: 1.8750em;
  margin-bottom: 0.0000em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.6667em 0;
  height: 0; }

p.intro {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 1.2500em; }
  @media screen and (min-width: 53.33333em) {
    p.intro {
      font-size: 1.5000em;
      /* 22.5px */
      line-height: 1.5em;
      /* 25px */
      margin-top: 1.1111em;
      margin-bottom: 1.1111em; } }

blockquote {
  font-style: italic;
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-style: italic;
  font-weight: 400;
  padding: 0 0 0 2em;
  margin: 2em 0 2em; }
  @media screen and (min-width: 53.33333em) {
    blockquote {
      font-size: 1.25em; } }

blockquote:before {
  content: "\201c";
  font-size: 5em;
  text-indent: -1.25em;
  margin-top: .25em;
  float: left; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 53.33333em) {
    figcaption {
      font-size: 1em; } }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

/* Global ====================== */
a {
  color: #00afef;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  a:hover {
    background-color: #00afef;
    color: black; }
  a:active {
    background-color: #00afef;
    color: black; }
  a:visited {
    color: #eeeeee; }

.three-columns {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: none; }
  .three-columns li {
    float: left;
    width: 90%;
    padding: 1em 5%; }
  @media screen and (min-width: 53.33333em) {
    .three-columns li:first-child, .three-columns li:last-child {
      width: 29%;
      padding: 1em 2%; }
    .three-columns li {
      width: 30%;
      padding: 1em 2%; } }

/* PRIMARY HEADER ====================== */
#header #logo, #header #toggle {
  position: fixed;
  top: 1em;
  z-index: 1000;
  font-size: 1em;
  text-decoration: none;
  color: black;
  display: block;
  padding: 1em;
  text-transform: uppercase; }
  #header #logo:hover, #header #toggle:hover {
    color: white;
    background-color: #222222; }
#header #logo {
  left: 1em; }
#header #toggle {
  right: 1em;
  width: 1em;
  height: 1.25em; }

#primary-nav {
  position: fixed;
  width: 80%;
  margin: 0;
  padding: 5em 10%;
  background-color: #00afef;
  z-index: 999;
  top: 0;
  bottom: 0;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  #primary-nav a {
    color: white;
    text-decoration: none;
    display: block;
    border: 1px solid transparent;
    width: 90%;
    padding: .5em 5%;
    font-size: 1.25em; }
    @media screen and (min-width: 32em) {
      #primary-nav a {
        font-size: 2em; } }
    #primary-nav a:hover {
      color: #00afef;
      background-color: white; }
    #primary-nav a:active {
      color: white;
      background-color: #00afef; }
    #primary-nav a .current:after {
      content: "X";
      float: right; }
  #primary-nav ul {
    list-style-type: none;
    text-indent: none;
    margin: 0;
    padding: 0; }
    #primary-nav ul li {
      margin: 0;
      padding: 0; }
  #primary-nav .primary a:hover:after {
    content: "+";
    float: right; }
  #primary-nav .secondary a:hover:after, #primary-nav .tertiary a:hover:after {
    content: ">";
    float: right; }
  #primary-nav .primary-link a {
    padding: 1em; }
  #primary-nav .secondary-link a {
    font-size: 1.75em;
    padding: 1.25em; }
  #primary-nav .tertiary-link a {
    text-indent: 2em;
    font-size: 1.5em;
    padding: 1.75em; }

.collapsed {
  max-height: 0;
  opacity: 0; }

.togglespan {
  position: absolute; }

.open {
  opacity: .95;
  overflow: scroll; }

.closed {
  opacity: 0;
  overflow: hidden; }

/* LAYOUT ====================== */
body {
  margin: 0;
  padding: 0; }
  body > section {
    width: 90%;
    clear: both;
    padding: 2em 5%;
    text-align: center;
    z-index: 1; }

.full-screen {
  background: url("../img/content/prototype/full-bleed-bg-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100%;
  position: relative; }
  .full-screen .overlay-wrap {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15); }
  .full-screen .floating-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10em;
    overflow: visible;
    color: white;
    z-index: 2; }
  .full-screen img {
    width: 100%; }

article {
  width: 100%;
  text-align: left; }
  article header {
    width: 90%;
    padding: 2em 5%;
    text-align: center; }
  article p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em; }
  article footer {
    width: 90%;
    padding: 2em 5%;
    text-align: center; }

#footer {
  background-color: #222222;
  color: #888888;
  width: 100%;
  padding: 1em 0;
  text-align: center; }

#top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 1em;
  font-size: 1em;
  opacity: 0.75;
  color: #888888;
  background-color: white; }
  #top:hover {
    opacity: 1;
    color: #00afef; }
  #top:active {
    opacity: 1;
    color: #00afef; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
