/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS ======= */
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?-i6hczf");
  src: url("../fonts/icons.eot?#iefix-i6hczf") format("embedded-opentype"), url("../fonts/icons.woff?-i6hczf") format("woff"), url("../fonts/icons.ttf?-i6hczf") format("truetype"), url("../fonts/icons.svg?-i6hczf#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-build:before {
  content: "\42"; }

.icon-discover:before {
  content: "\44"; }

.icon-participate:before {
  content: "\50"; }

.icon-play:before {
  content: "\e606"; }

.icon-stop:before {
  content: "\e607"; }

.icon-pause:before {
  content: "\e608"; }

.icon-forward:before {
  content: "\e609"; }

.icon-backward:before {
  content: "\e60a"; }

.icon-right:before {
  content: "\e60d";
  font-size: 1.5em;
  vertical-align: middle;
  padding: 0 .25em; }

.icon-left:before {
  content: "\e60e";
  font-size: 1.5em;
  vertical-align: middle;
  padding: 0 .25em; }

.icon-up:before {
  content: "\e60f";
  font-size: 1.5em; }

.icon-down:before {
  content: "\e610";
  font-size: 1.5em; }

.icon-share:before {
  content: "\e614"; }

.icon-plus:before {
  content: "\e616"; }

.icon-close:before {
  content: "\e617"; }

.icon-check:before {
  content: "\e619"; }

.icon-export:before {
  content: "\e61a"; }

.icon-paperplane:before {
  content: "\e61c"; }

.icon-cc:before {
  content: "\e625"; }

.icon-github:before {
  content: "\e626"; }

.icon-vimeo:before {
  content: "\e627"; }

.icon-twitter:before {
  content: "\e628"; }

.icon-facebook:before {
  content: "\e629"; }

.icon-google:before {
  content: "\e62a"; }

.icon-tumblr:before {
  content: "\e62b"; }

body {
  font-family: "proxima-nova",helvetica,arial,sans-serif;
  font-size: .8em;
  font-size: .8rem;
  color: #333333; }
  @media screen and (min-width: 32em) {
    body {
      font-size: 1em;
      font-size: 1rem;
      line-height: 1.6667em; } }
  body ::selection {
    color: white;
    background: #00afef; }
  body ::-moz-selection {
    color: white;
    background: #00afef; }

/* Modular Scale 
---------------------- 
15px @ 1:1.5	 
30px @ 1:1.5	 
----------------------*/
h1 {
  font-size: 1.5 0em;
  /* 45px */
  line-height: 1.1111em;
  /* 50px */
  margin-top: 0.5556em;
  margin-bottom: 0.0000em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em; }
  @media screen and (min-width: 40em) {
    h1 {
      font-size: 1.7500em; } }
  @media screen and (min-width: 53.33333em) {
    h1 {
      font-size: 2.0000em; } }
  @media screen and (min-width: 66.66667em) {
    h1 {
      font-size: 2.5000em; } }
  @media screen and (min-width: 80em) {
    h1 {
      font-size: 3.0000em; } }

h2 {
  font-size: 1.2500em;
  /* 33.75px */
  line-height: 1.4815em;
  /* 50px */
  margin-top: 0.7407em;
  margin-bottom: 0.0000em; }
  @media screen and (min-width: 53.33333em) {
    h2 {
      font-size: 1.500em; } }
  @media screen and (min-width: 66.66667em) {
    h2 {
      font-size: 2.000em; } }

h3 {
  font-size: 1.25em;
  /* 30px */
  line-height: 150%;
  /* 50px */
  margin-top: 0.8333em;
  margin-bottom: 0.0000em; }
  @media screen and (min-width: 66.66667em) {
    h3 {
      font-size: 1.5000em; } }

h4 {
  font-size: 1.15em;
  /* 25px */
  line-height: 1.0000em;
  /* 25px */
  margin-top: 1.500em;
  margin-bottom: 0.0000em;
  font-weight: 700;
  -webkit-font-smoothing: antialiased; }

h5 {
  font-size: 1em;
  /* 22.5px */
  line-height: 1.6667em;
  /* 25px */
  margin: 0 0 1.6667em 0;
  font-weight: 800;
  text-transform: uppercase;
  color: #222222; }

h6 {
  font-size: 1em;
  /* 20px */
  line-height: 1.6667em;
  /* 25px */
  margin: 0 0 1.6667em 0;
  font-weight: 800;
  color: #888888; }

p.intro {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 1.2500em; }
  @media screen and (min-width: 53.33333em) {
    p.intro {
      font-size: 1.5000em;
      /* 22.5px */
      line-height: 1.5em;
      /* 25px */
      margin-top: 1.1111em;
      margin-bottom: 1.1111em; } }

p {
  font-size: 1em;
  /* 15px */
  line-height: 1.6667em;
  /* 25px */
  margin: 0 0 1.6667em 0; }

small, ul, ol {
  font-size: 1em;
  /* 13.333px */
  line-height: 1.8750em;
  /* 25px */
  margin-top: 1.8750em;
  margin-bottom: 0.0000em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.6667em 0;
  height: 0; }

blockquote {
  font-style: italic;
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-style: italic;
  font-weight: 400;
  padding: 0 0 0 2em;
  margin: 2em 0 2em; }
  @media screen and (min-width: 53.33333em) {
    blockquote {
      font-size: 1.25em; } }

blockquote:before {
  content: "\201c";
  font-size: 5em;
  text-indent: -1.25em;
  margin-top: .25em;
  float: left; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 53.33333em) {
    figcaption {
      font-size: 1em; } }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

/* ======================================================== LINKS / BUTTONS  */
a, ul a, p a {
  color: inherit;
  text-decoration: underline; }
  a:active, ul a:active, p a:active {
    color: #00afef; }
  a:visited, ul a:visited, p a:visited {
    text-decoration: line-through; }

ul, ol {
  padding: 0 0 0 1em; }

p + ul {
  margin-top: 0; }

.no-style {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

button {
  font-family: 'proxima-nova';
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
  padding: 1em;
  margin: 1em;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
  outline: none;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  button:hover, button:active {
    color: white; }
  button:active .icon, button:focus .icon {
    background-color: #00afef;
    color: white; }
  button .icon-play {
    display: block;
    vertical-align: bottom;
    margin: 0 auto;
    width: 1em;
    height: 1em;
    padding: 1em .75em 1em 1.25em;
    border: 4px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }

.next-section {
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 2em 0;
  color: white;
  text-decoration: none;
  font-weight: 600;
  z-index: 3;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  .next-section:hover {
    text-decoration: none;
    color: white;
    padding: 2.5em 0 1.5em 0; }

/* ======================================================== LISTS */
.basic-list {
  list-style-type: disc;
  text-indent: none;
  padding: 0 0 0 1em;
  color: #888888; }
  .basic-list li {
    float: none;
    text-indent: none; }

.one-column, .two-columns, .three-columns, .four-columns {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: none;
  text-align: left; }
  .one-column > li, .one-column > div, .two-columns > li, .two-columns > div, .three-columns > li, .three-columns > div, .four-columns > li, .four-columns > div {
    float: left;
    width: 90%;
    padding: 1em 5%; }

@media screen and (min-width: 53.33333em) {
  .two-columns > li, .two-columns > div {
    width: 45%;
    padding: 1em 5% 1em 0; }
  .two-columns > li:nth-of-type(odd) {
    clear: left; } }

@media screen and (min-width: 53.33333em) {
  .three-columns > li {
    width: 30%;
    padding: 1em 3% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .three-columns-single-row > li:first-child, .three-columns-single-row > li:last-child {
    width: 29%;
    padding: 1em 4% 1em 0; }
  .three-columns-single-row > li {
    width: 30%;
    padding: 1em 4% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .four-columns > li {
    width: 45%;
    padding: 1em 5% 1em 0; } }
@media screen and (min-width: 80em) {
  .four-columns > li {
    width: 20%;
    padding: 1em 5% 1em 0; } }

/* ======================================================== LOGO / TOGGLE / NAVIGATION  */
#header {
  position: fixed;
  z-index: 400;
  width: 100%;
  background-color: white;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  #header #logo, #header #toggle {
    float: left;
    color: #222222; }
  #header #logo {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: .15em;
    line-height: 150%;
    border-left: 1px solid #dddddd;
    overflow: hidden; }
    #header #logo:active {
      text-decoration: none;
      color: white;
      background-color: #00afef; }
  #header #toggle {
    background: none !important;
    outline: none;
    border: none;
    display: block; }
    #header #toggle span {
      display: block; }

.nav-show {
  opacity: 1;
  top: 0; }

.nav-hide {
  opacity: 0;
  top: -60px; }

.lines-button {
  padding: .65em 0em;
  transition: .1s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.25rem; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.25rem;
  background: #222222;
  border-radius: 0.16667rem;
  transition: .1s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2rem;
    height: 0.25rem;
    background: #222222;
    border-radius: 0.16667rem;
    transition: .1s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.14286rem center;
    transform-origin: 0.14286rem center; }
  .lines:before {
    top: 0.5rem;
    width: 2rem; }
  .lines:after {
    top: -0.5rem;
    width: 2rem; }

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8); }

*
.lines-button.x2 .lines {
  transition: background .1s .1s ease; }
  *
  .lines-button.x2 .lines:before, *
  .lines-button.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .1s .2s ease, -webkit-transform .1s ease;
    transition: top .1s .2s ease, transform .1s ease; }

.lines-button.x2.close .lines {
  transition: background .1s 0s ease;
  background: transparent; }
  .lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
    transition: top .1s ease, -webkit-transform .1s .2s ease;
    transition: top .1s ease, transform .1s .2s ease;
    top: 0;
    width: 2rem; }
  .lines-button.x2.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x2.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

#primary-nav {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  padding: 0 5%;
  background-color: #00afef;
  background-color: rgba(0, 175, 239, 0.95);
  z-index: 0;
  top: 0;
  opacity: 0;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  #primary-nav dd a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em; }
    @media screen and (min-width: 60em) {
      #primary-nav dd a:hover {
        background-color: white;
        color: #00afef; } }
    #primary-nav dd a:active, #primary-nav dd a:focus {
      background-color: black; }
    #primary-nav dd a span {
      float: right;
      line-height: .75em; }

#primary-nav.open {
  padding: 4em 5% 0;
  z-index: 399;
  bottom: 0;
  opacity: 1; }
  @media screen and (min-width: 60em) {
    #primary-nav.open {
      padding: 5em 5% 0; } }

#primary-nav.closed {
  padding: 0 5%;
  z-index: 0; }

.primary {
  color: white;
  margin: 0 auto .5em;
  max-width: 66.66667em; }
  .primary dt {
    padding: .75em 0;
    color: black;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 1em;
    font-weight: 700;
    margin: 0em 1%; }
    .primary dt a {
      text-decoration: none;
      display: block;
      margin: 0 0 .5em 0;
      padding: 0 !important;
      color: white; }
      .primary dt a:after {
        content: ' ';
        display: table;
        clear: both; }
      .primary dt a span {
        float: left !important;
        font-size: 2em;
        padding: 0 .25em 0 0;
        line-height: 0.75em !important; }
  .primary small {
    font-weight: 500;
    line-height: 1em;
    letter-spacing: .01em;
    font-size: .85rem;
    text-transform: none; }

.primary-link {
  border-top: 1px solid white;
  margin: 0 0 .5em;
  display: block;
  float: left;
  font-size: 1.25em;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  width: 100%; }
  .primary-link > a {
    border-left: 1px solid white;
    border-right: 1px solid white !important;
    border-bottom: 1px solid white !important; }
  @media screen and (min-width: 50em) {
    .primary-link {
      width: 48%;
      float: left;
      margin: 0 1% .5em; } }

.secondary {
  padding: 0;
  margin: 0;
  border-left: 1px solid white; }

.secondary-link {
  width: 25%;
  float: left;
  font-size: 75%; }
  .secondary-link a {
    display: block;
    text-align: left;
    padding: 0 0.5em !important;
    border-bottom: 1px solid white !important;
    border-right: 1px solid white !important; }

#secondary-pm-nav .secondary-link {
  width: 50% !important; }

/* ======================================================== SECONDARY NAVIGATION MENUS  */
.breadcrumb {
  display: block;
  clear: both;
  border-top: 1px solid white;
  z-index: 398;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s;
  border-top: none;
  position: absolute;
  top: 5em;
  left: 2em;
  color: white;
  color: rgba(255, 255, 255, 0.5);
  font-size: .75em; }
  .breadcrumb.nav-hide {
    margin-top: -60px; }
  .breadcrumb.nav-show {
    margin-top: 0; }
  @media screen and (min-width: 40em) {
    .breadcrumb {
      font-size: 1em;
      position: fixed;
      z-index: 401;
      top: 0;
      left: 14em;
      padding-left: 0;
      color: #dddddd; } }
  .breadcrumb ul {
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    width: 100%;
    height: 0; }
  .breadcrumb li {
    position: relative;
    float: left;
    margin: .5em 0;
    max-height: 2.5em;
    overflow: visible; }
    .breadcrumb li:before {
      font-family: 'icons';
      content: "\e60d";
      font-size: 1.5em;
      display: block;
      position: absolute;
      line-height: 1.5em;
      left: -.25rem; }
  .breadcrumb a {
    display: block;
    margin: -.5em 0;
    padding: 1em;
    text-decoration: none;
    color: white; }
    .breadcrumb a:active {
      text-decoration: none;
      color: white;
      background-color: #00afef; }
    @media screen and (min-width: 40em) {
      .breadcrumb a {
        color: #222222; } }
  .breadcrumb .icon-discover, .breadcrumb .icon-participate, .breadcrumb .icon-build {
    display: inline !important;
    float: left; }
    .breadcrumb .icon-discover:before, .breadcrumb .icon-participate:before, .breadcrumb .icon-build:before {
      display: block;
      font-size: 2em;
      line-height: 75%; }
  .breadcrumb .breadcrumb-text {
    display: inline !important;
    padding: 0 0 0 1em; }
  .breadcrumb .indicator {
    display: block;
    margin: -.5em 0;
    padding: 1em;
    text-decoration: none;
    color: #888888; }

.tertiary {
  position: relative;
  z-index: 397;
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer; }
  @media screen and (min-width: 40em) {
    .tertiary {
      z-index: 401; } }
  .tertiary .icon-down {
    display: inline-block;
    font-size: 1em;
    line-height: 0;
    padding: 0 0 0 1em;
    vertical-align: middle;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
    .tertiary .icon-down:before {
      font-size: 2em; }
  .tertiary dt {
    display: block;
    margin: -.5em 0 0 0;
    padding: 1em;
    text-decoration: none;
    color: white; }
    @media screen and (min-width: 40em) {
      .tertiary dt {
        color: #00afef; } }
  .tertiary dd {
    margin: 0;
    padding: 0; }
    .tertiary dd a {
      display: block;
      margin: 0;
      padding: 0 1em;
      max-height: 0;
      overflow: hidden;
      margin: 0 0 0 0;
      padding: 0 1em;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.5); }
      .tertiary dd a:hover {
        -webkit-transition-duration: .25s;
        -moz-transition-duration: .25s;
        -ms-transition-duration: .25s;
        -o-transition-duration: .25s;
        transition-duration: .25s;
        color: #00afef;
        background-color: white; }
      .tertiary dd a:active {
        -webkit-transition-duration: .25s;
        -moz-transition-duration: .25s;
        -ms-transition-duration: .25s;
        -o-transition-duration: .25s;
        transition-duration: .25s;
        color: #00afef;
        background-color: black; }
      @media screen and (min-width: 40em) {
        .tertiary dd a {
          background-color: white; } }

.dropdown-closed dd a {
  padding: 0;
  max-height: 0;
  opacity: 0; }

.dropdown-open dd a {
  padding: 1em !important;
  max-height: 2em !important;
  opacity: 1;
  border-top: 1px solid #dddddd; }
.dropdown-open dt .icon-down {
  vertical-align: baseline;
  /* Safari */
  -webkit-transform: rotateX(180deg);
  /* Firefox */
  -moz-transform: rotateX(180deg);
  /* IE */
  -ms-transform: rotateX(180deg);
  /* Opera */
  -o-transform: rotateX(180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.subnav {
  margin: 0 auto;
  width: 80%;
  max-width: 50em;
  padding: 1em 0;
  text-indent: none; }
  .subnav dt, .subnav dd {
    font-size: 1.25em;
    float: left;
    padding: .5em .75em; }
  .subnav dt {
    font-style: italic;
    color: #888888; }
  .subnav .active {
    color: #00afef;
    border: 1px solid #00afef; }

.filters {
  border-top: 1px solid white;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  font-size: .75em; }
  .filters dt {
    display: none;
    padding: .5em 1em; }
  .filters dd {
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%; }
    .filters dd a {
      background-color: white;
      border-right: 1px solid #888888;
      color: #222222;
      display: block;
      text-decoration: none;
      padding: .5em;
      margin: 0;
      cursor: pointer; }
      .filters dd a:hover {
        background-color: #222222;
        color: #dddddd; }
  @media screen and (min-width: 40em) {
    .filters {
      font-size: 1em; }
      .filters dt {
        float: left; }
      .filters dd {
        width: auto;
        margin: 0; } }

.filter-link.on {
  background-color: #222222;
  color: white; }
  .filter-link.on .quantity {
    color: #dddddd; }

.quantity {
  color: #888888;
  display: block; }
  @media screen and (min-width: 40em) {
    .quantity {
      display: inline; } }

.share {
  width: 100%;
  margin: 1em auto;
  padding: 0;
  max-width: 23.33333em;
  border: 1px solid #dddddd; }
  .share a {
    text-decoration: none; }
  .share #share-engage {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: .75em 0;
    color: #222222;
    cursor: pointer; }
    .share #share-engage:hover, .share #share-engage:active {
      color: #00afef; }
    .share #share-engage .icon-share {
      padding: .5em;
      background-color: none;
      -webkit-user-select: none !important;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none; }
      .share #share-engage .icon-share:before {
        -webkit-user-select: none !important;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none; }
  .share #share-buttons {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: auto;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
  .share #share-buttons .closed {
    max-height: 0;
    overflow: hidden; }
  .share li {
    position: relative;
    float: left;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-color: white; }
    .share li div {
      padding: .25em 0;
      margin: 0 0 .5em 0;
      text-align: center;
      color: #222222; }
    .share li .icon {
      display: inline;
      cursor: pointer; }
  .share .one-third-first {
    width: 33%; }
  .share .facebook:hover, .share .facebook:active {
    color: #3b5998; }
  .share .one-third-second {
    width: 34%; }
  .share .twitter {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd; }
    .share .twitter:hover, .share .twitter:active {
      color: #55acee; }
  .share .one-third-third {
    width: 33%; }
  .share .google:hover, .share .google:active {
    color: #dd4b39; }

.buttonlist {
  text-align: center !important;
  margin: 1em 0;
  padding: 0;
  background-color: white;
  border: 1px solid #dddddd; }
  .buttonlist :last-child {
    border-bottom: none !important; }
  .buttonlist li {
    width: 100%;
    text-align: center;
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #dddddd; }
    @media screen and (min-width: 53.33333em) {
      .buttonlist li {
        width: 25%; } }
    .buttonlist li a {
      text-align: center;
      display: block;
      text-decoration: none;
      padding: .5em .5em;
      letter-spacing: .02em;
      font-size: 1em;
      border-bottom: none !important;
      color: #00afef !important;
      font-weight: 600 !important; }
      .buttonlist li a:hover {
        background-color: #00afef;
        color: white !important; }
      .buttonlist li a:active {
        background-color: #222222;
        color: white !important; }
      @media screen and (min-width: 53.33333em) {
        .buttonlist li a {
          font-size: 1em; } }
    .buttonlist li:last-child a {
      border-right: none; }
  @media screen and (min-width: 53.33333em) {
    .buttonlist li {
      border-bottom: none; }
    .buttonlist a {
      border-right: 1px solid #dddddd; } }

@media screen and (min-width: 53.33333em) {
  .buttonlist.five li {
    width: 20%; } }

@media screen and (min-width: 53.33333em) {
  .buttonlist.three li {
    width: 33.33%; } }

@media screen and (min-width: 53.33333em) {
  .buttonlist.two li {
    width: 50%; } }

@media screen and (min-width: 53.33333em) {
  .buttonlist.one li {
    width: 90%; } }

.buttonlist + .buttonlist {
  margin-top: -1em;
  border-top: none; }

/* ======================================================== OPEN / CLOSE */
.open {
  opacity: 1;
  max-height: auto;
  overflow: scroll; }

.closed {
  opacity: 0 !important;
  max-height: 0;
  overflow: hidden; }

.expanded {
  opacity: 1;
  max-height: auto;
  overflow: auto; }

.collapsed {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.local-link {
  text-decoration: none; }
  .local-link:active {
    opacity: 1;
    text-decoration: none; }
  .local-link .icon-plus {
    display: block;
    clear: both;
    border: 2px solid white;
    width: 1em;
    text-align: center;
    margin: .5em auto;
    padding: .25em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .local-link .icon-plus:before {
      display: inline-block;
      -webkit-transition-duration: .25s;
      -moz-transition-duration: .25s;
      -ms-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s; }
  .local-link .icon-plus.open {
    background-color: white;
    color: #00afef; }
  .local-link .icon-plus.open:before {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.overflow-hidden {
  overflow: hidden; }

.display-none {
  display: none !important; }

.fade-out {
  opacity: 0;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.fade-in {
  opacity: 1;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

/* ========================================================== LAYOUT */
body {
  margin: 0;
  padding: 0; }

#main {
  padding: 0;
  text-align: center; }
  #main > section {
    padding: 0 0 0 0;
    text-align: center;
    z-index: 1; }
    @media screen and (min-width: 32em) {
      #main > section {
        padding: 0 0 0 0; } }

section {
  position: relative; }
  section > h2 {
    padding: 3em 1em 2em !important; }
  section h2 {
    padding: 0 !important; }

.overlay-wrap {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55); }

.full-screen {
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100%;
  position: relative;
  max-height: 1000px !important;
  overflow: hidden !important; }
  .full-screen img {
    width: 100%; }
  .full-screen video {
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    right: 0; }

.background-video {
  display: block;
  position: absolute;
  bottom: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  z-index: -1000;
  overflow: hidden; }

.video-overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 499; }
  .video-overlay .video-inner {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: black; }
  .video-overlay iframe {
    width: 100%;
    height: 100%; }

.close-video {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1em;
  opacity: 0.5; }
  .close-video:hover {
    opacity: 1; }
  .close-video .icon-close {
    display: block;
    vertical-align: bottom;
    margin: 0;
    width: 1em;
    height: 1em;
    padding: .25em;
    border: 4px solid white;
    font-size: 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }

.flexvideo-16-9 {
  position: relative;
  padding: 0 0 56.5% 0;
  height: 0;
  margin: 1em 0;
  z-index: 300; }

.flexvideo-16-9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 301; }

.left-column {
  float: left;
  width: 80%;
  padding: 0 10%; }
  @media screen and (min-width: 53.33333em) {
    .left-column {
      padding: 0 2.5%;
      width: 20%; } }

.right-column {
  float: left;
  width: 100%;
  padding: 0; }
  @media screen and (min-width: 53.33333em) {
    .right-column {
      width: 75%; } }
  @media screen and (min-width: 80em) {
    .right-column .content {
      margin: 3em auto 3em 2em !important; } }

.sticky {
  position: relative;
  padding: 1em 0 0; }
  .sticky ol {
    padding: 0; }
    .sticky ol li {
      position: relative;
      border-top: 1px solid #888888;
      padding: .5em 0; }
    .sticky ol ul {
      padding: 0 0 0 .5em;
      margin: 0; }
      .sticky ol ul li {
        border-top: none;
        border-left: 1px solid #dddddd;
        padding: 0em 0 0em 1em;
        margin: .25em; }
    .sticky ol a {
      text-decoration: none; }

@media screen and (min-width: 53.33333em) {
  .sticky.fixed {
    position: fixed;
    top: 3em;
    width: 20%; } }
.sticky.fixed .scrollnav-link {
  display: block;
  margin-left: 0;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
.sticky.fixed .scrollnav-link.current {
  color: #00afef;
  transition-delay: .25s;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  .sticky.fixed .scrollnav-link.current strong {
    text-decoration: underline; }

article {
  width: 100%;
  text-align: left; }
  article header {
    background-size: cover;
    background-position: 50% 0;
    background-color: #00afef;
    color: white;
    width: 90%;
    padding: 10em 5% 7em;
    text-align: center;
    background-image: none; }
  article footer {
    padding: 2em 5%;
    text-align: center;
    border-top: 1px solid #dddddd;
    position: relative; }
  article .content {
    width: 80%;
    margin: 1em auto;
    max-width: 46.66667em; }
    @media screen and (min-width: 53.33333em) {
      article .content {
        margin: 3em auto; } }
    article .content img {
      margin: 1em 0; }
    article .content a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      border-bottom: 1px solid #00afef;
      -webkit-transition-duration: .25s;
      -moz-transition-duration: .25s;
      -ms-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s; }
      article .content a:hover, article .content a:active {
        color: #00afef; }
  article .anchor {
    border-top: 0.4em solid #333333;
    margin-bottom: 5em; }
    article .anchor:after {
      display: block;
      width: 100%;
      color: #888888; }
  article .content-text {
    width: 80%;
    margin: 3em auto;
    max-width: 50em; }
  article h3 {
    border-top: 1px solid #888888;
    padding-top: .5em;
    margin-bottom: .5em; }
  article img {
    width: 100%; }
  article ul, article ol {
    margin-bottom: 1em; }

.link-prev, .link-next {
  padding: 1.25em .5em;
  display: block;
  position: absolute;
  top: 0;
  margin: 0;
  text-decoration: none;
  line-height: 100%; }
  .link-prev span, .link-next span {
    font-size: 1.25em;
    display: inline;
    margin: 0 .5em;
    padding: 0;
    vertical-align: top;
    line-height: 100%; }
  @media screen and (min-width: 53.33333em) {
    .link-prev, .link-next {
      font-size: 1.25em;
      padding: 1em; } }
  @media screen and (min-width: 66.66667em) {
    .link-prev, .link-next {
      position: absolute; } }

.link-prev {
  left: 0; }

.link-next {
  right: 0; }

#footer {
  background-color: black;
  color: #888888;
  width: 100%;
  padding: 1em 0; }

#ford-logo {
  float: left;
  width: 100%;
  padding: .5em 0;
  margin: 0; }
  @media screen and (min-width: 53.33333em) {
    #ford-logo {
      width: 12em;
      padding: 0 1.5em;
      border-right: 1px solid #222222; } }
  #ford-logo img {
    width: 12em;
    margin: 0; }

#footer-info {
  float: left;
  width: 80%;
  padding: .5em 10%;
  text-align: center; }
  @media screen and (min-width: 53.33333em) {
    #footer-info {
      width: 33.33333em;
      padding: 1.5em .5em 0 .5em; } }

#top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 500;
  display: block;
  padding: .5em 1em;
  color: #00afef;
  border: 2px solid #dddddd;
  background-color: white;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  #top:hover, #top:active {
    color: white;
    background-color: #00afef; }

/*
 *
 * //////////////////////////////////////////////////////// HOME
 *
 */
#home-callouts img {
  display: block;
  width: 50%;
  margin: 0 auto; }
#home-callouts .icon-right {
  padding: 0;
  margin: 0; }

#home-video-container {
  background-color: black;
  background-image: url("../img/ui/home_bg_1.gif");
  background-position: 50% 50%;
  background-size: cover; }

#hacks-video-container {
  background-image: url("../img/content/prototype/project-image.jpg"); }

.home-links {
  margin: 1em 0;
  padding: 0;
  background-color: white;
  border: 1px solid #dddddd; }
  .home-links .icon-right {
    float: right; }
  .home-links a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #dddddd !important;
    padding: .75em .75em;
    font-weight: 600; }
  .home-links li {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%; }
    .home-links li:last-child a {
      border: none !important; }

#about {
  padding-top: 2em !important; }

/*
 *
 * //////////////////////////////////////////////////////// DISCOVER
 *
 */
#discover_header {
  background-image: url(../img/content/discover/discover_header.jpg); }

#tfi-new-media-fund_header {
  background-image: url(../img/content/discover/new-media-fund/tfi-new-media-fund_header.jpg); }

.projects-title {
  color: #222222;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 1em 0;
  margin: 0; }

.projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #dddddd; }

.project {
  padding: 0;
  margin: 0; }

.project-types {
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.project-types.hidden {
  max-height: 0;
  opacity: 0;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }

.project-header {
  width: 100%;
  padding: 0;
  background-color: #888888;
  border-bottom: 1px solid #dddddd;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s;
  position: relative;
  overflow: hidden;
  z-index: 350;
  min-height: 13.5em; }
  .project-header img {
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
  @media screen and (min-width: 46.66667em) {
    .project-header img {
      opacity: 1;
      width: 100%;
      margin-top: -20%; } }
  @media screen and (min-width: 46.66667em) {
    .project-header {
      min-height: 20em; } }
  .project-header .project-image-wrap {
    overflow: hidden;
    max-height: 20em;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    max-height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 100%; }
  .project-header .header-info {
    position: relative;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    position: absolute;
    top: 0;
    bottom: 0; }
  .project-header .floating-text {
    display: block;
    margin: auto;
    position: static;
    overflow: visible;
    text-align: left;
    width: 90%;
    padding: .25em 5%;
    color: white;
    z-index: 2;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 1.5em; }
    .project-header .floating-text small {
      font-size: 1em;
      font-weight: 600;
      margin: 0;
      padding: 0;
      display: block; }
    .project-header .floating-text h2 {
      font-size: 2em;
      margin-top: .5em;
      line-height: 120%;
      text-transform: uppercase; }
      @media screen and (min-width: 46.66667em) {
        .project-header .floating-text h2 {
          font-size: 3em; } }
      @media screen and (min-width: 66.66667em) {
        .project-header .floating-text h2 {
          font-size: 4em; } }
    .project-header .floating-text p {
      max-width: 66.66667em; }
  .project-header .floating-text.open {
    top: 50%;
    bottom: 2em;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }

#floating-text-home {
  color: white;
  padding: 2em 5em;
  max-width: 63.33333em;
  margin: auto; }
  #floating-text-home h1 {
    font-size: 1.25em;
    line-height: 1.25em; }
    @media screen and (min-width: 40em) {
      #floating-text-home h1 {
        font-size: 2em;
        line-height: 1em; } }
    @media screen and (min-width: 72em) {
      #floating-text-home h1 {
        font-size: 3em; } }
  #floating-text-home p.intro {
    font-size: 1em;
    max-width: 36em;
    margin: 1em auto; }
    @media screen and (min-width: 40em) {
      #floating-text-home p.intro {
        font-size: 1.25em; } }

.project-url {
  font-weight: 700;
  color: #888888;
  text-decoration: none !important;
  color: #00afef;
  bottom: 0;
  right: 0; }
  .project-url:hover, .project-url:active {
    text-decoration: none;
    color: #00afef; }

.project-content ul {
  line-height: 1.75em;
  list-style-type: disc;
  padding: 0; }
  .project-content ul .icon-export {
    vertical-align: -.05em;
    padding-left: .5em; }
.project-content a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid #00afef;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  .project-content a:hover, .project-content a:active {
    color: #00afef; }
@media screen and (min-width: 86.66667em) {
  .project-content aside {
    position: absolute;
    padding: 0 1em 0 4em;
    top: -2em;
    left: 100%;
    width: 30%; } }

.project-content, .project-content-expanded {
  width: 80%;
  margin: 3em auto;
  max-width: 46.66667em;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .project-content img, .project-content-expanded img {
    width: 100%; }

.project-content .collapsed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }

.project-content .expanded {
  max-height: auto;
  overflow: auto;
  opacity: 1;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }

/*
 *
 * //////////////////////////////////////////////////////// PARTICIPATE
 *
 */
#participate_header {
  background-image: url(../img/content/participate/participate_header.jpg); }

#tribecahacks_header {
  background-image: url(../img/content/participate/tribecahacks/tribeca-hacks_header.jpg); }

.hack-logo img {
  margin: 0; }

.hack-title {
  font-size: 1.25em;
  margin-top: 0; }

.tfi-interactive article header {
  margin: 3.5em 0 0 0;
  padding: 3.5em 0 1.5em 0;
  width: 100%; }
  @media screen and (min-width: 40em) {
    .tfi-interactive article header {
      padding: 0 0 1.5em 0; } }
.tfi-interactive p + ul {
  margin: -1.25em 0 1em; }

#tfi-interactive_header {
  background-image: url(../img/content/participate/tfiinteractive/tfi-interactive_header.jpg); }

.jury {
  padding: 1em 0;
  border-top: 1px solid #dddddd; }

.jury-members {
  list-style-type: none;
  padding: 1em 5%;
  width: 90%;
  max-width: 53.33333em;
  margin: 0 auto; }
  .jury-members li {
    display: block;
    float: left;
    text-align: center;
    width: 40%;
    padding: 1em 5%;
    min-height: 20em; }
    .jury-members li img {
      width: 80%;
      margin: 0 auto 1em;
      display: block;
      clear: both;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    .jury-members li span {
      width: 100%; }
    @media screen and (min-width: 40em) {
      .jury-members li {
        width: 29%;
        padding: 1em 2% 1em 2%; }
        .jury-members li:nth-of-type(4) {
          clear: left; }
        .jury-members li:nth-of-type(7) {
          clear: left; }
        .jury-members li:nth-of-type(10) {
          clear: left; }
        .jury-members li:nth-of-type(13) {
          clear: left; } }
    @media screen and (min-width: 53.33333em) {
      .jury-members li img {
        width: 60%; } }

#education_header {
  background-image: url(../img/content/participate/education/education_header.jpg); }

/*
 *
 * //////////////////////////////////////////////////////// BUILD
 *
 */
#build_header {
  background-image: url(../img/content/build/build_header.jpg); }

#funding_header {
  background-image: url(../img/content/build/funding/funding_header.jpg); }

.months {
  padding: 0; }
  .months li {
    list-style-type: disc; }
  .months > li {
    padding: 0;
    list-style-type: none !important; }
    .months > li img {
      float: right;
      width: 5em;
      margin: 0 0 1.5em 1em;
      padding: 0 0 0 1em;
      border-left: 1px solid #dddddd; }

#impact_header {
  background-image: url(../img/content/build/impact/impact_header.jpg); }

#festivals_header {
  background-image: url(../img/content/build/festivals/festivals_header.jpg); }

#map-canvas {
  height: 500px;
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  max-width: none; }

.gm-style-iw {
  font-weight: 500;
  font-size: 1em;
  font-family: 'proxima-nova',roboto,arial,helvetica; }

#techresources_header {
  background-image: url(../img/content/build/techresources/tech-resources_header.jpg); }

.key-speakers {
  list-style-type: none;
  padding: 0; }
  .key-speakers li {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    text-align: left; }
    .key-speakers li img {
      width: 33%;
      display: block;
      float: left;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      margin: 0 1em 2em 0; }
    .key-speakers li span {
      width: 100%;
      padding: 1em 0; }
    @media screen and (min-width: 53.33333em) {
      .key-speakers li {
        width: 45%;
        padding: 1em 5% 1em 0; } }

.team-leaders {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .team-leaders li {
    display: block;
    float: left;
    width: 100%;
    padding: 1em 0;
    text-align: center; }
    .team-leaders li img {
      float: left;
      width: 100%;
      display: block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      margin-bottom: 2em; }
    .team-leaders li span {
      width: 100%; }
  .team-leaders .person-info {
    float: left;
    width: 100%;
    padding: 0 0 0 0;
    text-align: left; }
    @media screen and (min-width: 40em) {
      .team-leaders .person-info {
        width: 65%;
        padding: 0 0 0 5%; } }
    @media screen and (min-width: 53.33333em) {
      .team-leaders .person-info {
        width: 75%; } }
    .team-leaders .person-info .name {
      line-height: 1.3333em;
      margin: 0 0 1em 0;
      font-weight: 400;
      font-size: 1em;
      text-transform: uppercase;
      border-bottom: 1px dotted #dddddd;
      padding: 0 0 1em 0; }
  .team-leaders .person-portrait {
    float: left;
    width: 40%;
    padding: 0;
    margin: 0 30%; }
    @media screen and (min-width: 40em) {
      .team-leaders .person-portrait {
        width: 25%;
        margin: 0; } }
    @media screen and (min-width: 53.33333em) {
      .team-leaders .person-portrait {
        width: 20%; } }

.core-team {
  list-style-type: none;
  padding: 0; }
  .core-team li {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    text-align: center; }
    @media screen and (min-width: 53.33333em) {
      .core-team li {
        width: 29%;
        padding: 1em 4% 1em 0; } }

#project-management_header {
  background-image: url(../img/content/build/projectmanagement/project-management_header.jpg); }

#projectmanagement-callouts li {
  list-style-type: none;
  float: left; }
  #projectmanagement-callouts li h2, #projectmanagement-callouts li h5 {
    margin-top: 0 !important; }
  #projectmanagement-callouts li a {
    text-decoration: none; }
@media screen and (min-width: 53.33333em) {
  #projectmanagement-callouts > li {
    min-height: 12em; } }
#projectmanagement-callouts .featured {
  width: 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
