
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import "mixins";
@import "typography";
@import "modules";


#home-callouts{
	
}


#home-video-container{
	background-image: url('../img/content/prototype/full-bleed-bg-image.jpg');
}

#hacks-video-container{
	background-image: url('../img/content/prototype/project-image.jpg');
}


// PROJECT PAGES

//Project Lists
.projects-title{
	//background-color:$medium-grey;
	color:$dark-grey;
	text-transform:uppercase;
	letter-spacing:.1em;
	padding:1em 0;
	margin:0;
}
.projects{
	list-style-type:none;
	padding:0;
	margin:0;
}

.project{
	padding:0;
	margin:0;
}


.project-types{
	@include quarter-second-transition;
}

.project-types.hidden{
	max-height:0;
	opacity:0;
	@include half-second-transition;
}

.project:nth-of-type(odd){
	@media screen and (min-width:(em(800))){
		.project-image-wrap{
			left:0!important;
		}
		.header-info{
			right:0!important;
		}
		.project-url{
			right:0;
		}	
	}
}
.project:nth-of-type(even){
	@media screen and (min-width:(em(800))){
		.project-image-wrap{
			right:0!important;
		}
		.header-info{
			left:0!important;
		}	
		.project-url{
			left:0;
		}
		
	}
}
.project-header{
	width:100%;
	padding:0;
	background-color:$light-grey;
	img{
		@include quarter-second-transition;
	}
	&:hover{
		background-color:$white;
		.floating-text{
			color:$action-color;
		}
		img{
			
			opacity:.75;
		}
		
	}
	@include quarter-second-transition;
	
	
	position:relative;
	overflow:hidden;
	z-index:350;	
	@media screen and (min-width:(em(800))){
		height:(em(250));
	}
	@media screen and (min-width:(em(1000))){
		height:(em(300));
	}
	@media screen and (min-width:(em(1200))){
		height:(em(350));
	}
	@media screen and (min-width:(em(1400))){
		height:(em(400));
	}
	.project-image-wrap{
		z-index:2;
		height:(em(300));
		overflow:hidden;
		@media screen and (min-width:(em(800))){
			position:absolute;
		
			
			top:0;
			bottom:0;
			width:50%;
			height:(em(400));
		}
		img{
			
		}
	}
	img{
		display:block;
		width:100%;
	}
	
	.header-info{
		position:relative;
		width:100%;
		@media screen and (min-width:(em(800))){
			position:absolute;
			top:0;
			bottom:0;
			width:50%;
		}
	}
	.floating-text{
		display:block;
		margin: auto;
		position:static;
		overflow:visible;
		width:90%;
		padding:.25em 5%;
		color:$dark-grey;
		z-index:2;
		@include quarter-second-transition;
		
		@media screen and (min-width:(em(800))){
	  	  position: absolute;
	  	  top: 0; bottom: 0;
		  //height:12em;
		}
	}
	.floating-text.open{
		top:50%;
		bottom:2em;
		@include quarter-second-transition;
	}
}

#floating-text-home{
	color:$white;
	padding-top:25%;
}

.project-url{
	padding:.5em .75em;
	color:$light-grey;
	text-decoration:none;
	background-color:$dark-grey;
	text-align:center;
	z-index:5;
	&:hover, &:active{
		text-decoration:none;
		color:$action-color;
		background-color:$black;
			
	}
	@media screen and (min-width:(em(800))){
		position:absolute;
		bottom:0;
		//width:50%;
	}
	
}

.project-content, .project-content-expanded{
	width:80%;
	margin:3em auto;
	max-width:50em;
	@include half-second-transition;
	
	img{
		width:100%;
	}
}

.project-content .collapsed{
	max-height:0;
	overflow:hidden;
	opacity:0;
	@include half-second-transition;
}

.project-content .expanded{
	max-height:auto;
	overflow:auto;
	opacity:1;
	@include half-second-transition;
}

//Jury

.jury{
	padding:1em 0;
	border-top:1em solid $dark-grey;
	border-bottom:1em solid $dark-grey;
	//background-color:$light-grey;
	//color:$white;
	h2{
		//color:$white;
	}
	
}
.jury-members{
	list-style-type:none;
	padding:1em 5%;
	width:90%;
	max-width:(em(800));
	margin:0 auto;
	
	li{
		display:block;
		float:left;
		text-align:center;
		width:40%;
		padding:1em 5%;
		
		img{
			width:80%;
			margin:0 10% 1em;
			display:block;
			clear:both;
			//margin-bottom:1em;
			@include perfect-circle;
		}
		
		span{
			width:100%;
		}

		
		@media screen and (min-width:(em(600))){
			width:29%;
			padding:1em 2% 1em 2%;
		}
		
		@media screen and (min-width:(em(800))){
			width:20%;
			padding:1em 2.5% 1em 2.5%;
		}
	}
}



//Funding
.months{
	padding:0;
	li{
		padding:0;
		list-style-type:none;
	}
}


//Event Pages


.key-speakers{
	list-style-type:none;
	padding:0;
	li{
		display:block;
		float:left;
		width:90%;
		padding:1em 5%;
		text-align:left;		
		img{
			width:33%;
			display:block;
			float:left;
			//clear:both;
			@include perfect-circle;
			margin:0 1em 2em 0;
		}
		span{
			width:100%;
			padding:1em 0;
		}
		@media screen and (min-width:(em(800))){
			width:45%;
			padding:1em 5% 1em 0;
		}
		
	}
}

.team-leaders{
	list-style-type:none;
	padding:0;
	margin:0;
	li{
		display:block;
		float:left;
		width:100%;
		padding:1em 0;
		text-align:center;		
		img{
			float:left;
			width:100%;
			display:block;
			//clear:both;
			@include perfect-circle;
			margin-bottom:2em;
		}
		span{
			width:100%;
		}
		
	}
	.person-info{
		float:left;
		width:100%;
		padding:0 0 0 0;
		text-align:left;
		
		@media screen and (min-width:(em(600))){
			width:65%;
			padding:0 0 0 5%;
		}
		
		@media screen and (min-width:(em(800))){
			width:75%;
		}
		
		.name{
			line-height:1.3333em;
			margin:0 0 1em 0;
			font-weight:400;
			font-size:1em;
			text-transform:uppercase;
			border-bottom:1px dotted $light-grey;
			padding:0 0 1em 0;
		}
	}
	.person-portrait{
		float:left;
		width:40%;
		padding:0;
		margin:0 30%;
		
		@media screen and (min-width:(em(600))){
			width:25%;
			margin:0;
		}
		
		@media screen and (min-width:(em(800))){
			width:20%;
		}
	}
	
	
}

.core-team{
	list-style-type:none;
	padding:0;
	li{
		display:block;
		float:left;
		width:90%;
		padding:1em 5%;
		text-align:center;
		
		@media screen and (min-width:(em(800))){
			width:29%;
			padding:1em 4% 1em 0;
		}
	}
}



#projectmanagement-callouts{
	
	li{
		list-style-type:none;
		float:left;
		h2,h5{
			margin-top:0!important;
		}
		a{
			text-decoration:none;
		}
	}
	@media screen and (min-width:(em(800))){
		>li{
			min-height:8em;
		}
	}
	@media screen and (min-width:(em(1200))){
		>li{
			min-height:12em;
		}
	}
	.featured{
		width:100%;
	}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}