
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "mixins";
@import "typography";
@import "modules";

/*
 *
 * //////////////////////////////////////////////////////// HOME
 *
 */

#home-callouts{
	img{
		display:block;
		width:50%;
		margin:0 auto;
	}
	li{
		
	}
	.icon-right{
		padding:0;
		margin:0;
	}
}
#home-video-container{
	background-color:$black;
	background-position:center;
	background-size:cover;
	padding:0;
	width:100%;
	position:relative;	
    max-height:1000px !important;
	overflow:hidden!important;
	background-image:url('../img/ui/home_bg_1.gif');
	@media screen and (min-width:(em(800))){
		background-image:none!important;
	}
	img{
		width:100%;
	}
	video{
		display:block;
		position:absolute;
		min-width:100%;
		min-height:100%;
		top:0;
		bottom:0;
		//left:0;
		right:0;
	}	
}

#home-bg{
	display:none;
	@media screen and (min-width:(em(800))){
		display:block;
	}	
}

#hacks-video-container{
	background-image: url('../img/content/prototype/project-image.jpg');
}
.home-links{
	margin:1em 0;
	padding:0;
	background-color:$white;
	border:1px solid $light-grey;
	.icon-right{
		float:right;
	}
	a{
		display:block;
		text-decoration:none;
		border-bottom:1px solid $light-grey!important;
		padding:.75em .75em;
		font-weight:600;
	}	
	li{
		list-style-type:none;
		float:left;
		padding:0;
		margin:0;
		width:100%;
		&:last-child{
			a{
				border:none!important;
			}	
		}
	}
}
#about{
	padding-top:2em!important;
}

/*
 *
 * //////////////////////////////////////////////////////// DISCOVER
 *
 */

//TFI NMF / INTERACTIVE LANDSCAPE
#discover_header{
	background-image:url(../img/content/discover/discover_header.jpg);
}
#tfi-new-media-fund_header{
	background-image:url(../img/content/discover/new-media-fund/tfi-new-media-fund_header.jpg);
}

//Project Lists
.projects-title{
	//background-color:$medium-grey;
	color:$dark-grey;
	text-transform:uppercase;
	letter-spacing:.1em;
	padding:1em 0;
	margin:0;
}
.projects{
	list-style-type:none;
	padding:0;
	margin:0;
	border-top:1px solid $light-grey;
}
.project{
	padding:0;
	margin:0;
}
.project-types{
	@include quarter-second-transition;
}
.project-types.hidden{
	max-height:0;
	opacity:0;
	@include half-second-transition;
}
.project-header{
	width:100%;
	padding:0;
	background-color:$medium-grey;
	border-bottom:1px solid $light-grey;
	img{
		@include quarter-second-transition;	
	}
	@media screen and (min-width:(em(700))){
		img{
			opacity:1;
			width:100%;
			margin-top: -20%;
		}
	}	
	@include quarter-second-transition;
	position:relative;
	overflow:hidden;
	z-index:350;
	//min-height:13.5em;	
	@media screen and (min-width:(em(700))){
		//min-height:20em;	
	}
	.project-image-wrap{
		overflow:hidden;
		max-height:(em(300));
		@include quarter-second-transition;
		max-height:100%;
		position:absolute;
		z-index:2;
		top:0;
		bottom:0;
		width:100%;
	}	
	.header-info{
		position:relative;
		width:100%;
		z-index:3;
		background-color:rgba(0,0,0,0.65);
 	    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box; /* Firefox, other Gecko */
	    box-sizing: border-box; /* Opera/IE 8+ */		
		//position:absolute;
		//top:0;
		//bottom:0;		
	}
	.floating-text{
		display:block;
		margin: auto;
		position:static;
		overflow:visible;
		text-align:left;
		width:90%;
		padding:.25em 5%;
		color:$white;
		z-index:2;
		@include quarter-second-transition;
		//position: absolute;
	  	//top:0; 
		//bottom:0;
		padding:1.5em 0 4.5em 0;
		small{
			font-size:1em;
			font-weight:600;
			margin:0;
			padding:0;
			display:block;
		}
		h2{
			font-size:2em;
			margin-top:.5em;
			line-height:120%;
			text-transform:uppercase;
			@media screen and (min-width:(em(700))){
				font-size:3em;	
			}
			@media screen and (min-width:(em(1000))){
				font-size:4em;
			}
		}
		p{
			max-width:(em(700));
		}
	}
	.floating-text.open{
		top:50%;
		bottom:2em;
		@include quarter-second-transition;
	}
}
#floating-text-home{
	color:$white;
	padding:2em 5em;
	max-width:(em(950));
	margin: auto;
	h1{
		font-size:1.25em;
		line-height:1.25em;
		@media screen and (min-width:(em(600))){
			font-size:2em;
			line-height:1em;
		}
		@media screen and (min-width:(em(1080))){
			font-size:3em;
		}
	}
	p.intro{
		font-size:1em;
		@media screen and (min-width:(em(600))){
			font-size:1.25em;
		}
		max-width:(em(540));
		margin:1em auto;
	}
}
.project-url{
	font-weight:700;
	color:$medium-grey;
	text-decoration:none!important;
	color:$blue;
	bottom:0;
	right:0;
		&:hover, &:active{
			text-decoration:none;
			color:$action-color;
		}
}
.project-content{
	ul{
		line-height: 1.75em;
		list-style-type: disc;
		padding:0;
		.icon-export{
			vertical-align: -.05em;
			padding-left:.5em;
		}
	}
	a{
		text-decoration:none;
		color:$black;
		font-weight:500;
		border-bottom:1px solid $action-color;
		@include quarter-second-transition;
		&:hover, &:active{
			color:$action-color;
			
		}
	}
	@media screen and (min-width:(em(1300))){
		aside{
			position:absolute;
			padding:0 1em 0 4em;
			top:-2em;
			left:100%;
			width:30%;
			
		}
	}
}
//Project Content
.project-content, .project-content-expanded{
	width:80%;
	margin:3em auto;
	max-width:em(700);
	@include half-second-transition;
	img{
		width:100%;
	}
}
.project-content .collapsed{
	max-height:0;
	overflow:hidden;
	opacity:0;
	@include half-second-transition;
}
.project-content .expanded{
	max-height:auto;
	overflow:auto;
	opacity:1;
	@include half-second-transition;
}

/*
 *
 * //////////////////////////////////////////////////////// PARTICIPATE
 *
 */
//Tribeca Hacks

#participate_header{
	background-image:url(../img/content/participate/participate_header.jpg);
}

#tribecahacks_header{
	background-image:url(../img/content/participate/tribecahacks/tribeca-hacks_header.jpg);
}

.hack-logo{
	img{
		margin:0;
	}
	a{
		border-bottom:none!important;
	}
}
.hack-title{
	font-size:1.25em;
	margin-top:0;
}

//TFI Interactive

.tfi-interactive{
	article{
		header{
			h1{
				padding:1rem 4rem;
				margin-bottom:0;
				font-size:1.5em;				
				@media screen and (min-width:(em(600))){
					font-size:2em;
					padding:1rem;
				}
				@media screen and (min-width:(em(1000))){
					font-size:2.5em;
				}
			}
			background-color:$dark-grey;
			
			margin:3.5em 0 0 0;
			padding:3.5em 0 1em 0;
			width:100%;
			@media screen and (min-width:(em(600))){
				padding:0 0 1.5em 0;
			}
		}
	}
	p + ul{
		margin: -1.25em 0 1em;
	}
}
#tfi-interactive_header{
	background-image:url(../img/content/participate/tfiinteractive/tfi-interactive_header.jpg);
}

//Jury
.jury{
	padding:1em 0;
	border-top:1px solid $light-grey;	
}
.jury-members{
	list-style-type:none;
	padding:1em 5%;
	width:90%;
	max-width:(em(800));
	margin:0 auto;
	li{
		display:block;
		float:left;
		text-align:center;
		width:40%;
		padding:1em 5%;
		line-height:1.5em;
		&:nth-of-type(odd){clear:left;}		
		img{
			width:80%;
			margin:0 auto 1em;
			display:block;
			clear:both;
			//margin-bottom:1em;
			@include perfect-circle;
		}		
		span{
			width:100%;
		}
		@media screen and (min-width:(em(600))){
			width:29%;
			padding:1em 2% 1em 2%;
			&:nth-of-type(odd){clear:none;}	
			&:nth-of-type(4){clear:left;}
			&:nth-of-type(7){clear:left;}
			&:nth-of-type(10){clear:left;}
			&:nth-of-type(13){clear:left;}
		}
		@media screen and (min-width:(em(800))){
			img{
				width:60%;
			}
		}
	}
}

// EDUCATION

#education_header{
	background-image:url(../img/content/participate/education/education_header.jpg);
}

/*
 *
 * //////////////////////////////////////////////////////// BUILD
 *
 */

#build_header{
	background-image:url(../img/content/build/build_header.jpg);
}

//Funding
#funding_header{
	background-image:url(../img/content/build/funding/funding_header.jpg);
}
.months{
	padding:0;
	li{
		list-style-type:disc;
	}
	>li{
		padding:0;
		list-style-type:none!important;
		img{
			float:right;
			width:5em;
			margin:0 0 1.5em 1em;
			padding:0 0 0 1em;
			border-left:1px solid $light-grey;
		}
	}
	
}

//Impact
#impact_header{
	background-image:url(../img/content/build/impact/impact_header.jpg);
}
//Festivals
#festivals_header{
	background-image:url(../img/content/build/festivals/festivals_header.jpg);
}
#Map{
	
}
#map-canvas{
	//width:100%;
	height:500px;
    width:100%; 
	height: 500px;  
	margin: 0; 
	padding: 0; 
	max-width:none;
}
.gm-style-iw {
font-weight: 500;
font-size: 1em;
font-family: 'proxima-nova',roboto,arial,helvetica;
}
//Tech Resources
#techresources_header{
	background-image:url(../img/content/build/techresources/tech-resources_header.jpg);
}

//Event Pages
.key-speakers{
	list-style-type:none;
	padding:0;
	li{
		display:block;
		float:left;
		width:90%;
		padding:1em 5%;
		text-align:left;		
		img{
			width:33%;
			display:block;
			float:left;
			//clear:both;
			@include perfect-circle;
			margin:0 1em 2em 0;
		}
		span{
			width:100%;
			padding:1em 0;
		}
		@media screen and (min-width:(em(800))){
			width:45%;
			padding:1em 5% 1em 0;
		}
		
	}
}
.team-leaders{
	list-style-type:none;
	padding:0;
	margin:0;
	li{
		display:block;
		float:left;
		width:100%;
		padding:1em 0;
		text-align:center;		
		img{
			float:left;
			width:100%;
			display:block;
			//clear:both;
			@include perfect-circle;
			margin-bottom:2em;
		}
		span{
			width:100%;
		}
		
	}
	.person-info{
		float:left;
		width:100%;
		padding:0 0 0 0;
		text-align:left;
		
		@media screen and (min-width:(em(600))){
			width:65%;
			padding:0 0 0 5%;
		}
		
		@media screen and (min-width:(em(800))){
			width:75%;
		}
		
		.name{
			line-height:1.3333em;
			margin:0 0 1em 0;
			font-weight:400;
			font-size:1em;
			text-transform:uppercase;
			border-bottom:1px dotted $light-grey;
			padding:0 0 1em 0;
		}
	}
	.person-portrait{
		float:left;
		width:40%;
		padding:0;
		margin:0 30%;
		
		@media screen and (min-width:(em(600))){
			width:25%;
			margin:0;
		}
		
		@media screen and (min-width:(em(800))){
			width:20%;
		}
	}
	
	
}
.core-team{
	list-style-type:none;
	padding:0;
	li{
		display:block;
		float:left;
		width:90%;
		padding:1em 5%;
		text-align:center;
		
		@media screen and (min-width:(em(800))){
			width:29%;
			padding:1em 4% 1em 0;
		}
	}
}

//Project Management
#project-management_header{
	background-image:url(../img/content/build/projectmanagement/project-management_header.jpg);
}
#projectmanagement-callouts{
	li{
		list-style-type:none;
		float:left;
		h2,h5{
			margin-top:0!important;
		}
		a{
			text-decoration:none;
		}
	}
	@media screen and (min-width:(em(800))){
		>li{
			min-height:12em;
		}
	}
	.featured{
		width:100%;
	}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}