//Modules
/* 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// GLOBAL */


/* ======================================================== LINKS / BUTTONS  */

a, ul a, p a{
	color:inherit;
	text-decoration:underline;
	@include quarter-second-transition;	
	//	&:hover{
	//	color:$action-color;
	//	text-decoration:underline;
	//	}
	&:active{
	color:$action-color;	
	}
	&:visited{
	text-decoration:line-through;	
	}
}

button{
	font-family:'proxima-nova';
	color:rgba(255,255,255,.75);
	background-color:transparent;
	padding:1em;
	margin:1em;
	border:1px solid transparent;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:.1em;
	outline:none;
	@include quarter-second-transition;	
	&:hover, &:active{
		color:$white;
	}
	/*&:hover{
		.icon{
			background-color:$white;
			color:$action-color;
		}
	}*/
	&:active,&:focus{
		.icon{
			background-color:$action-color;
			color:$white;
		}
	}
	.icon-play{
		display:block;
		vertical-align:bottom;
		margin:0 auto;
		width:1em;
		height:1em;
		padding:1em .75em 1em 1.25em;
		border:4px solid $white;
		@include perfect-circle;	
	}

}

.next-section{
	display:block;
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	padding:2em 0;
	color:$white;
	text-decoration:none;
	font-weight:600;
	letter-spacing:.1em;
	text-transform:uppercase;
	@include quarter-second-transition;	
//	&:hover{
//		text-decoration:none;
//		color:$white;
//		padding:2.5em 0 1.5em 0;
//	}	
}

/* ======================================================== LISTS */

.basic-list{
	list-style-type:disc;
	text-indent:none;
	padding:0 0 0 1em;
	color:$medium-grey;
	li{
		float:none;
		text-indent:none;
	}
}

.one-column, .two-columns, .three-columns, .four-columns{
	list-style-type:none;
	margin:0;
	padding:0;
	text-indent:none;
	text-align:left;	
	>li,>div{
		float:left;
		width:90%;
		padding:1em 5%;
	}
}
.two-columns{	
	@media screen and (min-width:(em(800))){
		>li,>div{
			width:45%;
			padding:1em 5% 1em 0;
		}
	}
}

.three-columns{
	@media screen and (min-width:(em(800))){
		>li{
			width:30%;
			padding:1em 3% 1em 0;
		}
	}
}
.three-columns-single-row{
	@media screen and (min-width:(em(800))){
		>li:first-child, >li:last-child{
			width:29%;
			padding:1em 4% 1em 0;
		}
		>li{
			width:30%;
			padding:1em 4% 1em 0;
		}
	}
}
.four-columns{
	>li{
	//list-style-type:decimal-leading-zero!important;
	}
	@media screen and (min-width:(em(800))){
		>li{
			width:45%;
			padding:1em 5% 1em 0;
		}
	}
	@media screen and (min-width:(em(1200))){
		>li{
			width:20%;
			padding:1em 5% 1em 0;
		}
	}
}
/* ======================================================== LOGO / TOGGLE / NAVIGATION  */

#header{	
	position:fixed;
	z-index:400;
	width:100%;
	background-color:$white;
	padding:0;
	overflow:hidden;
	@include drop-shadow;
	@include quarter-second-transition;
	
	#logo, #toggle{
		color:$dark-grey;
		//	&:hover{
	//			background-color:$white;
	//		}
	}
	
	#logo{
		padding:1em;
		display:inline-block;
		text-decoration:none;
		color:$dark-grey;
		text-transform:uppercase;
		letter-spacing: .15em;	
		//	&:hover{
	//			color:$action-color;
	//			background-color:$white;
	//		}
		&:active{
			text-decoration:none;
			color:$white;
			background-color:$action-color;	
		}			
	}
	#toggle{
		float:right;
		background:none!important;
		outline:none;
		border:none;
		display:block;
	    span{
	      display:block;
	    }
	}
}

.nav-show{
	opacity:1;
	top:0;
}
.nav-hide {
	opacity:0;
    top: -60px;
}

//BEGIN MENU ICON
$button-size: 2em; 
//common to all three-liners
.lines-button {
  padding: .65em .25em;
  transition: .1s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/8;
	//  &:hover {
	//    opacity: 1;
	//  }
  &:active {
    transition: 0;
  }
}
//common to all three-liners
@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/8;
  background: $dark-grey;
  border-radius: $button-size/12; 
  transition: .1s;
}
//common to all three-liners
.lines {
  @include line;
  position: relative; 
  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before { 
    top: $button-size/4; 
	width:$button-size; 
  }
  &:after { 
    top: -$button-size/4;
	width:$button-size;  
  }
}
//common to all three-liners

.lines-button.close {
  -webkit-transform: scale3d(.8,.8,.8);
          transform: scale3d(.8,.8,.8);
}*
//x2 transitions
.lines-button.x2{
    .lines{
      transition: background .1s .1s ease;

      &:before, &:after{
        //set transform origin
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
        transition: top .1s .2s ease, -webkit-transform .1s ease;
        transition: top .1s .2s ease, transform .1s ease;
      }
    }
}
.lines-button.x2.close{
  .lines {
    transition: background .1s 0s ease;
    background: transparent;

    &:before, &:after{
      transition: top .1s ease, -webkit-transform .1s .2s ease;//delay the formation of the x till the minus is formed  
      transition: top .1s ease, transform .1s .2s ease;//delay the formation of the x till the minus is formed  
      top:0;
      width: $button-size;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,45deg); 
              transform: rotate3d(0,0,1,45deg); 
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,-45deg); 
              transform: rotate3d(0,0,1,-45deg); 
    }
  }
}
//END MENU ICON

#primary-nav{
	position:fixed;
	width:80%;
	margin:0;
	padding:0 10%;
	background-color:$action-color;
	z-index:399;
	top:0;
	bottom:0;
	@include quarter-second-transition;	
	a{
		color:$white;
		text-decoration:none;
		display:block;
		border:1px solid transparent;
		width:100%;
		padding:.25em 0;
		span{
			font-size:75%;
			opacity:0;
			float:left;
			padding:0;
			margin-left:-.5em;
			width:0;
			@include quarter-second-transition;
		}
	//		&:hover{
	//			color:$white;
	//			span{
	//				opacity:1;
	//				margin-left:0;
	//				padding:0 1em 0 0;
	//			}
	//		}
		&:active,&:focus{
			color:$black;
			//background-color:$white;
		}
	}
}

#primary-nav.open{
	padding:6em 10% 0;
}
#primary-nav.closed{
	padding:0 10%;
}
.primary /*DL*/ {
	border-top:1px solid $white;
	padding:1em 0;
	color:$white;
	dt{
		text-transform:uppercase;
		letter-spacing:.2em;
		font-size:1em;
		opacity:0.75;

	}
}
.primary-link /*DD*/{
	font-size:2em; 
	line-height:1.25em;
	padding:0;
	margin:0;
			
	@media screen and (min-width:(em(800))){
	width:50%;
	float:left;
	}
}
.secondary /*UL*/{
	text-indent:1em;
	font-size:.75em;
	padding:0;
	margin:0;
	display:none;
}
.secondary-link /*LI*/{

}

/* ======================================================== SECONDARY NAVIGATION MENUS  */

.breadcrumb{
	position:relative;
	display:block;
	margin:3.5em 0;
	clear:both;
	border-top:1px solid $white;
	@media screen and (min-width:(em(600))){
		border-top:none;
		position:fixed;
		z-index:501;
		top:0;
		left:10em;
		margin:0;
	}
	ul{
		padding:0;
		margin:0;
		line-height:1.6em;
	}
	li{
		float:left;
		border-left:1px solid rgba(0,0,0,.05);
		margin:.5em 0;
		max-height:2.5em;
		overflow:visible;
	}
	a{
		display:block;
		margin: -.5em 0;
		padding:1em;
		text-decoration:none;
		color:rgba(0,0,0,.5);
		//	&:hover{
	//			text-decoration:none;
	//			color:$action-color;
	//			background-color:$white;
	//		}
		&:active{
			text-decoration:none;
			color:$white;
			background-color:$action-color;	
		}
	}
	.indicator{
		display:block;
		margin: -.5em 0;
		padding:1em;
		text-decoration:none;
		color:$medium-grey;
	}
}

.tertiary{
	float:left;
	margin: 0;
	padding:0;
	cursor:pointer;
		.icon-down{
			display:inline-block;
			font-size:1em;
			line-height:0;
			padding:0 0 0 1em;
			vertical-align:middle;
			@include quarter-second-transition;
			&:before{
				font-size:2em;
			}
		}
		dt{
			display:block;
			margin:-.5em 0 0 0;
			padding: 1em;
			text-decoration:none;
			color:rgba(0,0,0,.5);
			
		}
		dd{			
			margin:0;
			padding:0;
			a{
				display:block;
				margin:0;
				padding:0 1em;
				max-height:0;
				overflow:hidden;
				margin:1px 0 0 0;
				padding:0 1em;
				background-color:$white;
				&:active{
				color:$white;
				background-color:$action-color;	
				}
			}
		}
}
.dropdown-closed{
	dd{
		a{
			padding:0;
			max-height:0;
		}
	}
}
.dropdown-open{
	dd{
		a{
		padding:1em!important;
		max-height:2em!important;
		}
	}
	dt{
		.icon-down{
			//padding:0 2em;
			vertical-align:baseline;
			@include flip180;
		}
	}
}

.subnav{
	margin: 0 auto;
	width:80%;
	max-width:50em;
	padding:1em 0;
	text-indent:none;
	dt, dd{
		font-size:1.25em;
		float:left;
		padding:.5em .75em;
	}
	dt{
		font-style:italic;
		color:$medium-grey;
	}
	.active{
		color:$action-color;
		border:1px solid $action-color;
	}
}

.filters{
	width:100%;
	//background-color:$medium-grey;
	margin:0;
	padding:0;
	dt{
		display:none;
		padding:.5em 1em;
	}
	dd{
		
		float:left;
		width:30%;
		margin:0;
		padding:0;
	}
	dd{
		a{
			background-color:$white;
			border-right:1px solid $medium-grey;
			color:$blue;
			display:block;
			text-decoration:none;
			padding:.5em 1em;
			margin:0;
			cursor:pointer;
			
			&:hover{
				//background-color:$light-grey;
			}
					
		}
	}
	
	@media screen and (min-width:(em(600))){
		dt{
			float:left;
		}
		dd{
		
			width:auto;
			margin:0;
		
		}
	}
}
.filter-link.on{
	background-color:$black;
	.quantity{
		color:$medium-grey;
	}
}
.quantity{
	color:$medium-grey;
}

.share{
	width:100%;
	margin:1em auto;
	padding:0;
	max-width:(em(350));
	border:1px solid $light-grey;
	@media screen and (min-width:(em(800))){
		
	}
	
	a{
		//display:block;
		text-decoration:none;
	}
	
	// Open / Close Button
	#share-engage{
		background-color:$white;
		width:100%;
		margin:0;
		padding:.75em 0;
		color:$dark-grey;
		&:hover,&:active{
			color:$blue;
		}
		.icon-share{
			padding: .5em;
			background-color:none;
			//cursor:pointer;
		    -webkit-user-select: none!important;  /* Chrome all / Safari all */
		    -moz-user-select: none;     /* Firefox all */
		    -ms-user-select: none; 
			&:before{
			    -webkit-user-select: none!important;  /* Chrome all / Safari all */
			    -moz-user-select: none;     /* Firefox all */
			    -ms-user-select: none; 
			}
		}
	}
	
	#share-buttons{
		display:block;
		width:100%;
		padding:0;
		margin:0;
		max-height:auto;
		@include quarter-second-transition;
	}
	#share-buttons .closed{
		max-height:0;
		overflow:hidden;
	}
	#share-buttons .open{
		
	}
	
	// Share Buttons List
	li{
		position:relative;
		float:left;
		text-align:center;
		padding: 0;
		cursor:pointer;
		background-color:$white;
		
		div{
			//border:1px solid $light-grey;
			padding:.25em 0;
			margin:0 0 .5em 0;
			text-align:center;
			color:$dark-grey;
			//width:100%;
		}
		.icon{
			display:inline;
			cursor:pointer;
		}

		
	}
	
	.one-third-first{
		width:33%;
	}
			.facebook{
				
				//
				&:hover, &:active{
					
					color:#3b5998;
				}
			}
	
	.one-third-second{
		width:34%;
	}	
			.twitter{
				border-right:1px solid $light-grey;
				border-left:1px solid $light-grey;
				
				//
				&:hover, &:active{
					
					color:#55acee;
				}
			}
	.one-third-third{
		width:33%;
	}
			.google{
				
				//
				&:hover, &:active{
					
					color:#dd4b39;
				}
			}
			
		
}

.buttonlist{
	text-align:center!important;
	margin:1em 0;
	padding:0;
	background-color:$white;
	@include drop-shadow;
	
	a{
		text-align:center;
		display:block;
		text-decoration:none;
		border-right:1px solid $light-grey;
		//width:100%;
		padding:.75em 1.5em;
		//margin:1em;
	}
	
	li{
		width:25%;
		text-align:center;
		list-style-type:none;
		float:left;
		padding:0;
		margin:0;
		&:last-child{
			a{
				border:none;
			}
			
		}
	}
}

.buttonlist.three{
	li{
		width:33%;
	}
}
.buttonlist.two{
	li{
		width:49%;
	}
}

.buttonlist.one{
	li{
		width:90%;
	}
}

.home-links{
	margin:1em 0;
	padding:0;
	background-color:$white;
	@include drop-shadow;
	
	.icon-right{
		float:right;
	}
	
	
	a{
		display:block;
		text-decoration:none;
		border-bottom:1px solid $light-grey;
		padding:.75em 1.5em;
		font-weight:600;
		//&:after{
//			content:">";
//		}
	}
	
	li{
		list-style-type:none;
		float:left;
		padding:0;
		margin:0;
		width:100%;
		&:last-child{
			a{
				border:none;
			}
			
		}
	}
}

/* ======================================================== SCROLLING VERTICAL DOT NAVIGATION  */
//.scrollnav {
//
//	position:fixed;
//	left:0;
//	top:25%;
//	z-index:398;
//
//	ul {
//    position: relative;
//    display: inline-block;
//    margin: 0;
//    padding: 0;
//    list-style: none;
//    cursor: default;
//	}
//
//	li {
//    position: relative;
//    display: block;
//    margin: 3em 2em 3em 1.5em;
//    width: 1.2em;
//    height: 1.2em;
//    cursor: pointer;
//	box-shadow:0 0 0 2px rgba(0,0,0,.25);
//	background-color:rgba(0,0,0,.5);
//	border-radius:50%;
//
//	.current{
//		//box-shadow: inset 0 0 0 .75em $white;
//	}
//		a {
//	    top: 0;
//	    left: 0;
//	    width: 100%;
//	    height: 100%;
//	    outline: none;
//	    border-radius: 50%;
//	    background-color: #fff;
//	    background-color: rgba(255,255,255,0.3);
//	    text-indent: -999em;
//	    cursor: pointer; /* make the text accessible to screen readers */
//	    position: absolute;
//		background-color: transparent;
//		box-shadow: inset 0 0 0 2px $white;
//		-webkit-transition: box-shadow 0.3s ease;
//		transition: box-shadow 0.3s ease;
//
//			&:active{
//			box-shadow: inset 0 0 0 .75em $white;
//			}
//
//		}
//
//	}
//
//
//}


// Active Scroll Link Highlighting




/* ======================================================== OPEN / CLOSE */

.open{
	opacity:.95;
	max-height:auto;
	overflow:scroll;
}
.closed{
	opacity:0 !important;
	max-height:0;
	overflow:hidden;
}

//Projects
.expanded{
	opacity:1;
	max-height:auto;
	overflow:auto;
}
.collapsed{
	opacity:0;
	max-height:0;
	overflow:hidden;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	//border-bottom: 1px solid white;
	@include quarter-second-transition;
}

.local-link{
	text-decoration:none;
	//color:$white;
	//opacity:.75;
	&:active{
		//color:$white;
		opacity:1;
		text-decoration:none;	
		
	}
	.icon-plus{
		display:block;
		clear:both;
		border:2px solid $white;
		width:1em;
		text-align:center;
		margin:.5em auto;
		padding:.25em;
		@include perfect-circle;	
		&:before{
			display:inline-block;
			@include quarter-second-transition;
		}
	}
	.icon-plus.open{
		background-color:$white;
		color:$action-color;
	}
	.icon-plus.open:before{
		@include rotate45;
	}	
}

.overflow-hidden{
	overflow:hidden;
}
.fade-out{
	opacity:0;
	@include quarter-second-transition;
}
.fade-in{
	opacity:1;
	@include quarter-second-transition;
}
/* LAYOUT ====================== */

//Body
body{
	margin:0;
	padding:0;
}
#main{
	padding:0;
	text-align:center;
	>section{
		padding:0 0 0 0;
		
		@media screen and (min-width:(em(480))){
			padding:0 0 0 0;
		}
		
		text-align:center;
		z-index:1;
	}
}
section{
	position:relative;
	>h2{
		padding:3em 1em 2em!important;
	}
	h2{
		padding:0!important;
	}
}
.overlay-wrap{
	position:absolute;
	z-index:2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.15);
}
.full-screen{
	background-size:cover;
	background-position:center;
	padding:0;
	width:100%;
	position:relative;
	max-height:1000px!important;
	overflow:hidden!important;
	img{
		width:100%;
	}
	video{
		display:block;
		position:absolute;
		min-width:100%;
		min-height:100%;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
}


//Background Videos
.background-video{
	display:block;	
	position: absolute;
	  bottom: 0px; 
	  right: 0px; 
	  min-width: 100%; 
	  min-height: 100%; 
	  width: auto; 
	  height: auto; 
	  z-index: -1000; 
	  overflow: hidden;
	  background-color:$black;
}


//Fluid Full-Screen Videos
.video-overlay{
	display:none;	
	position:fixed;	
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index:499;
	.video-inner{
		position: absolute;
		height: auto;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background-color: $black;
	}
	iframe{
		width: 100%;
		height: 100%;
	}
}
.close-video{
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding:1em;
	opacity:0.5;
	//font-size:2em;
	&:hover{
		opacity:1;
	}
		.icon-close{
			display:block;
			vertical-align:bottom;
			margin:0;
			width:1em;
			height:1em;
			padding:.25em;
			border:4px solid $white;
			font-size:2em;
			@include perfect-circle;
		}
}


// Fluid Width Videos
.flexvideo-16-9 {
	position: relative;
	padding:0 0 56.5% 0;
	height: 0;
	margin: 1em 0;
}
.flexvideo-16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



//Columns / Subnavs
.left-column{
	float:left;
	width:80%;
	padding:0 10%;
	@media screen and (min-width:(em(800))){
		padding:0 2.5%;
		width:20%;
	}	
}
.right-column{
	float:left;
	width:100%;
	padding:0;
	@media screen and (min-width:(em(800))){
		width:75%;
	}
}

.sticky{
	position:relative;
	padding:1em 0 0;
	ol{
		padding:0;
		li{
			border-top:1px solid $medium-grey;
			padding:.5em 0;
		}
		ul{
			padding:0 0 0 .5em;
			margin:0;
			li{
				border-top:none;
				border-left:1px solid $light-grey;
				padding:0em 0 0em 1em;
				margin:.25em;
			}
		}
		a{text-decoration:none;}
	}
}
.sticky.fixed{
	@media screen and (min-width:(em(800))){
		position:fixed;
		top:3em;
		width:20%;
	}
	
	.scrollnav-link.current{
		color:$action-color;
	}
	
}


//Articles / Content 
article{
	width:100%;
	text-align:left;
	header{
		border-bottom:1px solid $white;
		background-color:$blue;
		color:$white;
		width:90%;
		padding:4em 5%;
		text-align:center;
	}
	footer{
		padding:2em 5%;
		text-align:center;
	}
	
	footer{
		border-top:1px solid $light-grey;
		position:relative;
	}
	.content{
		width:80%;
		margin:1em auto;
		max-width:50em;
		@media screen and (min-width:(em(800))){
			margin:3em auto;
		}
		@media screen and (min-width:(em(1200))){
			max-width:70em;
		}
	}
	.anchor{
		border-top:.4em solid $text-color;
		margin-bottom:5em;
		&:after{
			display:block;
			width:100%;
			color:$medium-grey;
		}
		
	}
	.content-text{
		width:80%;
		margin:3em auto;
		max-width:50em;
	}
	h2{
//		padding-top:1em!important;
	}
	h3{
		border-top:1px solid $medium-grey;
		padding-top:1em;
	}
	img{
		width:100%;
	}
	ul,ol{
		margin-bottom:1em;
	}
}

.link-prev,.link-next{
	padding:1em;
	display:block;
	position:absolute;
	top:0;
	margin:0;
	text-decoration:none;
	span{
		display:inline-block;
		margin:0 1em;
		vertical-align:sub;
	}
	@media screen and (min-width:(em(800))){
		font-size:1.5em;
		padding:.5em;
	}
}
.link-prev{
	left:0;
}
.link-next{
	right:0;
}


//Primary Footer
#footer{
	background-color:$black;
	color:$medium-grey;
	width:100%;
	padding:1em 0;
	//text-align:center;
	
}

#ford-logo{
	float:left;
	width:100%;
	padding:.5em 0;
	margin:0;
	@media screen and (min-width:(em(800))){
		width:12em;
		padding:0 1.5em;
		border-right:1px solid $dark-grey;
	}
	img{
		width:12em;
		margin:0;
	}
}

#footer-info{
	float:left;
	width:80%;
	padding:.5em 10%;
	text-align:center;
	
	@media screen and (min-width:(em(800))){
		width:(em(500));
		padding:1.5em .5em 0 .5em;
	}
	
}

#top{
	position:fixed;
	bottom:0;
	right:0;
	z-index:500;
	display:block;
	padding:.5em 1em;	
	color:$action-color;
	border:2px solid $light-grey;
	background-color:$white;
	text-decoration:none;
	@include quarter-second-transition;
	&:hover, &:active{
		color:$white;
		background-color:$action-color;
	}
}