//Modules
/* 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// GLOBAL */


/* ======================================================== LINKS / BUTTONS  */

a, ul a, p a{
	color:inherit;
	text-decoration:underline;
	@include quarter-second-transition;	
	
	&:hover{
	color:$action-color;
	text-decoration:underline;
	}
	&:active{
	color:$action-color;
		
	}
	&:visited{
	text-decoration:line-through;	
	}
}

button{
	color:$white;
	background-color:transparent;
	padding:1em;
	margin:1em;
	border:1px solid transparent;
	@include quarter-second-transition;	
	&:hover{
	color:$action-color;
	background-color:$white;
	border:1px solid transparent;	
	}
	&:hover{
	color:$action-color;
	background-color:$white;	
	}
}

.next-section{
	display:block;
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	padding:1em 0;
	color:$white;
	text-decoration:none;
	@include quarter-second-transition;	
	&:hover{
		//background-color:$white;
		text-decoration:none;
		color:$white;
		padding:1.5em 0 .5em 0;
	}	
}

/* ======================================================== LISTS */

.basic-list{
	list-style-type:disc;
	text-indent:none;
	padding:0 0 0 1em;
	color:$medium-grey;
	li{
		float:none;
		text-indent:none;
	}
}

.one-column{
	list-style-type:none;
	margin:0;
	padding:0;
	text-indent:none;
	text-align:left;	
	>li{
		float:left;
		width:90%;
		padding:1em 5%;
	}
}
.two-columns{
	list-style-type:none;
	margin:0;
	padding:0;
	text-indent:none;
	text-align:left;	
	>li{
		float:left;
		width:90%;
		padding:1em 5%;
	}
	
	@media screen and (min-width:(em(800))){
		>li{
			width:45%;
			padding:1em 5% 1em 0;
		}
	}
}

.three-columns{
	list-style-type:none;
	margin:0;
	padding:0;
	text-indent:none;
	text-align:left;	
	>li{
		float:left;
		width:90%;
		padding:1em 5%;
	}
	
	@media screen and (min-width:(em(800))){
		>li:first-child, >li:last-child{
			width:29%;
			padding:1em 4% 1em 0;
		}
		>li{
			width:30%;
			padding:1em 4% 1em 0;
		}
	}
}

/* ======================================================== LOGO / TOGGLE / NAVIGATION  */

#header{
	#logo,#toggle{
			position:fixed;
		top:.5em;
		z-index:1000;
		font-size:1.1em;
			//border:1px solid $dark-grey;
			
			text-decoration:none;
			color:$black;
			display:block;
			padding:.75em 1em;
			text-transform:uppercase;
			letter-spacing: .15em;
			
			&:hover{
				color:$white;
				background-color:$dark-grey;
			}
				
	}
	#logo{
		left:.5em;
	}
	#toggle{
		right:.5em;
		width:1em;
		height:1.25em;
	}
}

.togglespan{
	position:absolute;
	font-size:2em;
}
#toggleclose{
	top:.25em;
}

#primary-nav{
	position:fixed;
	width:80%;
	margin:0;
	padding:0 10%;
	background-color:$action-color;
	z-index:999;
	top:0;
	bottom:0;
	@include quarter-second-transition;	
	a{
		color:$white;
		text-decoration:none;
		display:block;
		border:1px solid transparent;
		width:100%;
		padding:0;
		span{
			opacity:0;
			float:right;
			padding:0 1em;
		}
		&:hover{
			//color:$action-color;
			//background-color:$white;
			span{
				//opacity:1;
			}
		}
		&:active{
			color:$white;
			//background-color:$action-color;
		}
	}	
}

#primary-nav.open{
	padding:7em 10%;
}
#primary-nav.closed{
	padding:0 10%;
}

.primary /*DL*/ {
	border-top:1px solid $white;
	padding:1em 0;
	color:$white;
	dt{
		text-transform:uppercase;
		letter-spacing:.2em;
		font-size:1em;
		opacity:0.75;

	}
}
.primary-link /*DD*/{
	font-size:2em; 
	line-height:1.25em;
	padding:0.5em 0;
	margin:0;
			
	@media screen and (min-width:(em(800))){
	width:50%;
	float:left;
	}
}
.secondary /*UL*/{
	text-indent:1em;
	font-size:.75em;
	padding:0;
	margin:0;
	display:none;
}
.secondary-link /*LI*/{

}


/* ======================================================== OPEN / CLOSE */

.open{
	opacity:.95;
	max-height:auto;
	overflow:scroll;
}
.closed{
	opacity:0 !important;
	max-height:0;
	overflow:hidden;
}

//Projects
.expanded{
	opacity:1;
	max-height:auto;
	overflow:auto;
}
.collapsed{
	opacity:0;
	max-height:0;
	overflow:hidden;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 1px solid white;
	@include quarter-second-transition;
}




/* LAYOUT ====================== */

//Body
body{
	margin:0;
	padding:0;

	//Sections
	>section{
		//width:90%;
		//clear:both;
		padding:2em 0 0 0;
		text-align:center;
		z-index:1;
	}
}
.overlay-wrap{
	position:absolute;
	z-index:2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.15);
}
.floating-text{
	display:block;
	margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
	  height:10em;
	  overflow:visible;
	color:$white;
	z-index:2;
	
}
.full-screen{
	background-size:cover;
	background-position:center;
	padding:0;
	width:100%;
	position:relative;
	
	.video-overlay{
		
	}
	img{
		width:100%;
	}
}


//Articles / Content 
article{
	width:100%;
	text-align:left;
	header, footer{
		width:90%;
		padding:2em 5%;
		text-align:center;
	}
	.content{
		width:80%;
		margin:3em auto;
		max-width:50em;
	}
	h3{
		border-top:1px solid $medium-grey;
		padding-top:1em;
	}
}


//Primary Footer
#footer{
	background-color:$dark-grey;
	color:$medium-grey;
	width:100%;
	padding:1em 0;
	text-align:center;
	
}
#top{
	position:fixed;
	bottom:0;
	right:0;
	z-index:1000;
	display:block;
	padding:1em;
	font-size:1em;
	opacity:0.75;	
	color:$medium-grey;
	background-color:$white;
	text-decoration:none;
	@include quarter-second-transition;
	&:hover{
		opacity:1;
		color:$action-color;
	}
	&:active{
		opacity:1;
		color:$action-color;
	}
}